
@{
    ViewData["Title"] = "Search";
}

<h2>Search</h2>

<form method="post" asp-action="Search" asp-controller="Search">
    <div>
        What zip code do you want to search? &nbsp;&nbsp;&nbsp;
        <input id="location" name="location" type="text" />&nbsp;&nbsp;&nbsp;
        <input type="submit" value="Search"/>
    </div>
</form>